odee/edtapplication/edt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/" name="ExternalDataTransactionService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Mtom.xml">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp1_2:Policy>
<wsp:Policy wssutil:Id="ExternalDataTransactionSoap12HttpPortBinding_MTOM_Policy-ExternalDataTransactionSoap12HttpPortBinding_MTOM_Policy">
<ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://tempuri.org/" schemaLocation="http://127.0.0.1:7001/EDTApplication-EDTProject-context-root/ExternalDataTransactionSoap12HttpPort?xsd=1"/>
</xsd:schema>
</types>
<message name="validateFile">
<part name="parameters" element="tns:validateFile"/>
</message>
<message name="validateFileResponse">
<part name="parameters" element="tns:validateFileResponse"/>
</message>
<message name="getKeys">
<part name="parameters" element="tns:getKeys"/>
</message>
<message name="getKeysResponse">
<part name="parameters" element="tns:getKeysResponse"/>
</message>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<portType name="ExternalDataTransaction">
<operation name="validateFile">
<input wsam:Action="http://tempuri.org/ExternalDataTransaction/validateFileRequest" message="tns:validateFile"/>
<output wsam:Action="http://tempuri.org/ExternalDataTransaction/validateFileResponse" message="tns:validateFileResponse"/>
</operation>
<operation name="getKeys">
<input wsam:Action="http://tempuri.org/ExternalDataTransaction/getKeysRequest" message="tns:getKeys"/>
<output wsam:Action="http://tempuri.org/ExternalDataTransaction/getKeysResponse" message="tns:getKeysResponse"/>
</operation>
<operation name="getData">
<input wsam:Action="http://tempuri.org/ExternalDataTransaction/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://tempuri.org/ExternalDataTransaction/getDataResponse" message="tns:getDataResponse"/>
</operation>
</portType>
<binding name="ExternalDataTransactionSoap12HttpPortBinding" type="tns:ExternalDataTransaction">
<wsp:PolicyReference URI="#ExternalDataTransactionSoap12HttpPortBinding_MTOM_Policy-ExternalDataTransactionSoap12HttpPortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#Mtom.xml"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validateFile">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getKeys">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getData">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="ExternalDataTransactionService">
<port name="ExternalDataTransactionSoap12HttpPort" binding="tns:ExternalDataTransactionSoap12HttpPortBinding">
<soap12:address location="http://127.0.0.1:7001/EDTApplication-EDTProject-context-root/ExternalDataTransactionSoap12HttpPort"/>
</port>
</service>
</definitions>
